.App {
  padding: 30px;
  display: flex;
}
.AppTodolist {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.errorMessage{
  color: red;
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.5;
}